source https://nuget.org/api/v2

nuget FsReveal
nuget FAKE
nuget Suave

group Build

    source https://nuget.org/api/v2
    
    nuget FAKE

group Tests
    framework: net451
    source https://nuget.org/api/v2

    nuget XUnit