source https://nuget.org/api/v2

nuget FsReveal
nuget FAKE
nuget Suave

group App
    
    source https://nuget.org/api/v2

    nuget FSharp.Core
    nuget Suave

group Build

    source https://nuget.org/api/v2
    
    nuget FAKE
    nuget xunit.runner.console

group Tests
    framework: net451
    source https://nuget.org/api/v2

    nuget XUnit
    nuget FsUnit.XUnit